

.box-wrapper {
    display: flex-wrap;
    width: 60%;
    margin: auto;
}

.box {
    width: 33%;
    margin: auto;
    display: inline-block;
    border: 3px solid white;
    text-align: center;
}