* {
    box-sizing: border-box;
}

body {
    font-family: "Georgia",serif;
    margin: 0 auto;
}

h1, #subtitle {
    display: inline-block;
    text-align: center;

}

h1 {
    font-size: 34px;
    padding-right: 20px;
    margin-top: 
}

#subtitle {
    font-size: 22px;
}

.container-background {
    background-color: whitesmoke;
    padding: 5%;
    width: 100%;
}

.container-front {
    background-color: white;
    padding: 40px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

#main-img {
    display: block;
    margin: 0 auto;
    max-width: 450px;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#author {
    text-align: left;
    color: rgba(85, 85, 85, 0.767);
    margin-left: 30px;
}



