.list-wrapper a {
    color: black;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 18px;
    
}

.list-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background-color: whitesmoke;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}


