.blog-post p {
    font-style: italic;
    font-family: 'Lora', serif;
    color: #868e96;
    font-size: 18px;    
    padding-bottom: 20px;
    line-height: 1.5;
    text-align: left;
}

.blog-post p a {
    color: black;

}

.titles:hover {
    color: #0085a1;
}

.blog-post h1 {
    font-weight: 800;
    line-height: 1.2;
}

.blog-post h2 {
    font-weight: 300;
}


.author {
    width: 100%;
}