.header {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);
    background-size: cover;
    height: 532px;
    position: relative;
    color: white;
    text-align: center;
    background-position: 0 50%;

}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    bottom: -45%;
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.head-title {
    font-size: 80px;
    font-weight: 800;
}

.head-sub {
    font-weight: 400;
    font-size: 24px;
}

.brand a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    opacity: 1;
}

.brand {
    padding-top: 20px;
    opacity: 1;
}

.links {
    display: flex;
    flex-direction: row;
}
