.header {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    font-family: 'Rammetto One', cursive;
    
}

.head-wrapper {
    min-height: 600px;
    background-color: whitesmoke;
}

.letter-box {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.letter{
    font-size: 80px;
    text-align: center;
    margin: 0px;
}

.t {
    background-color: rgb(110, 108, 243);
}

.r {
    background-color: cyan;
}

.i {
    background-color: #fc52f3;
}

.v {
    background-color: lime;
}

.ia {
    background-color: #f8b524;
}

.a {
    background-color: rgb(173, 122, 255);
}